<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="../homepage/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway&display=swap" rel="stylesheet">
</head>
<body class="backTwo">

<%- include('partials/header'); -%>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <div class="row justify-content-center" style="text-align: center;">
                <div class="grid-container">
                    <div class="col-md-4 cardImage">
                    </div>
                    <div class="col-md-4 supCard">
                        <form class="signUpForm">
                            <h2 class="signUpHeader">Sign Up</h2>
                            <div class="formGroup">
                                <input type="text" class=" signUpInput" placeholder="Email Address" name="email" required />
                                <div class="email error"></div>
                            </div>
                            <div class="formGroup">
                                <input type="password" class="signUpInput" placeholder="Password" name="password" required />
                                <div class="password error"></div>
                            </div>
                            <center style="padding-bottom: 100px;"><button>Sign up</button></center>
                        </form>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>



<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e)=>{
        e.preventDefault();

        //get the values
        const email = form.email.value;
        const password = form.password.value;

        //reset values

        emailError.textContent = '';
        passwordError.textContent = '';

        try {
            const res = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({ email, password }),
                headers: {'Content-Type': 'application/JSON'}
            });
            const data = await res.json();
            console.log(data)
            if (data.errors){
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password
            } 
            if(data.user){
                location.assign('/');
            }
        } catch(err) {

        }
        
    });
</script>

<%- include('partials/footer'); -%>
</body>
</html>